@import "theme";

html, body {
    margin: 0;
    padding: 0;
    transition: 250ms;
}

body {
    font-family: 'Inter', Arial, Helvietica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 0 25%;
}

main {
    min-height: 40vh;
    margin-bottom: 200px;
}

code {
    font-family: 'Fira Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
    font-weight: 700;
}

h1:not(.title h1){
    font-size: 36px;
    margin-bottom: 0;
}

.blog-title {
    margin-top: 64px;
}

.secondary {
    margin-top: 4px;
    margin-bottom: 24px;
}

@keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
  }

h1:hover .magic-text, h1:active .magic-text {
    animation: background-pan 2s linear infinite;
    background: linear-gradient(
        263.44deg,
        $blue-g3 -31.69%,
        $blue-g2 4.75%,
        $blue-g4 12.2%,
        $blue-g4 41.2%,
        $blue-g2 77.65%,
      );
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    transition: background 100ms;
}

p .magic-text-purple {
    animation: background-pan 2.5s linear infinite;
    background: linear-gradient(
        263.44deg,
        $purple-g2 -21.69%,
        $purple-g4 12.2%,
        $purple-g2 41.2%,
        $purple-g3 67.65%,
      );
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    // white-space: nowrap;
    transition: background 100ms;
}

p .magic-text {
    animation: background-pan 1s linear infinite;
    background: linear-gradient(
        263.44deg,
        $blue-g2 -31.69%,
        $blue-g4 12.2%,
        $blue-g2 41.2%,
        $blue-g3 77.65%,
      );
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    // white-space: nowrap;
    transition: background 100ms;
}

img {
    max-width: 100%;
    border-radius: 5px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

blockquote {
    margin-left: 0;
    padding-left: 1em;
}

code {
    padding: 0.1em 0.2em;
}

pre {
    overflow: auto;
    padding: 1rem;
    border-radius: 5px;

    code {
        padding: 0;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15%;

    a {
        margin-right: 0.5em;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
    }

    a:last-of-type {
        margin-right: 0;
    }

}

.title {
    display: flex;
    align-items: baseline;

    h1 {
        font-size: 28px;
        margin-right: 0.2em;
    }
}

.header-links {
    display: flex;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 100ms;
}

.intro {
    margin-top: 4em;

    h1 {
        margin-bottom: 0;
    }

    p {
        margin-top: 14px;
    }
}

.listening-activity {
    margin-top: 4em;
}

.listening-activity .card {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 14px;
    transition: 100ms;
}

.listening-activity h1 {
    margin-bottom: 0;
}

.card {
    display: flex;
    padding: 10px 10px;
    border-radius: 5px;
    transition: 100ms;

    .album-art {
        height: 250px;
        width: 250px;
        border-radius: 5px;
    }
}

.listening-activity {

    .card {
        flex-direction: row;
        word-break: break-word;
    }

    .card:hover {
        cursor: pointer;
    }

    .placeholder {
        display: flex;
        // flex: 0 0 250px;
        height: 250px;
        width: 250px;
        align-items: flex-start;
        justify-content: center;
        border-radius: 5px;
        margin-right: 16px;
    }

    .loading {
        margin: 0;
    }

    img {
        max-width: none;
    }
}

.now-playing-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    p {
        margin: 0;
    }

    .track {
        font-size: 28px;
        font-weight: 700;
        // line-height: 90%;
        margin-top: 4px;
    }

    .artist {
        font-size: 16px;
        margin-bottom: 4px;
    }

    .indicator {
        font-size: 12px;
    }
}

.card .skeleton {
    display: inline-block;
    position: relative;
    overflow: hidden;

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        animation: shimmer 2s infinite;
        content: '';
      }
    
      @keyframes shimmer {
        100% {
          transform: translateX(100%);
        }
      }
}

.projects {
    margin-top: 4em;

    .card {
        flex-direction: column;
        margin-top: 14px;
        padding: 14px;
    }

    h3 {
        margin: 0;
    }

    p {
        margin-top: 14px;
        margin-bottom: 0px;
    }

    a:hover, a:active {
        text-decoration: none;
    }
}

.interests {
    margin-top: 4em;
}

.pill-list {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 14px;
}

.list-pill {
    padding: 5px 10px;
    border-radius: 5px;
}

.list-pill > .emoji {
    padding-right: 10px;
    margin-right: 5px;
}

@media all and (max-width: 1200px) {
    body {
        padding: 0 20%;
    }
}

@media all and (max-width: 650px) {

    body {
        padding: 0 5%;
    }

    .header {
        flex-direction: column;
        margin: 0;

        h1 {
            margin-bottom: 0.5em;
        }
    }

    .listening-activity .card {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: start;
    }

    .card .placeholder {
        width: 100%;
        height: auto;
        margin-right: 0px;
        margin-bottom: 8px;
    }
    
    .card .album-art {
        width: 100%;
        height: auto;
    }
}

@media all and (max-width: 320px) {

    .header-links {
        flex-direction: column;
    }

}