@import "theme";

// 'Literata' +

:root {
    font-family: 'Literata', serif;
}

body {
    font-size: 16px;
    margin: 0 auto;
    padding: 0 16px;
    padding-bottom: 128px;
}

.header {
    font-size: 28px;
    font-size: 1.75rem;
    margin: 16px 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline;
        margin: 0 0 0 16px;
    }

    li#first {
        margin: 0;
    }
    
    a {
        text-decoration: none;
        font-size: 18px;
        font-size: 1.125rem;
    }

    a:hover {
        text-decoration: underline;
    }
}

.posts {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: flex;
        align-items: baseline;
        gap: 20px;
    }

    a {
        text-decoration: none;
        font-size: 18px;
        font-size: 1.125rem;
    }

    a:hover {
        text-decoration: underline;
    }

    p {
        font-size: 14px;
        font-size: 0.875rem;
        margin: 0;
        font-weight: 200;
    }
}

.post {
    p {
        font-weight: 300;
        margin: 0 0 0.8em 0;
    }

    h1, h2, h3 {
        font-weight: 400;
        margin: 1.2em 0 0.5em 0;
    }

    h1 {
        font-size: 24px;
        font-size: 1.5rem;
    }

    h2 {
        font-size: 20px;
        font-size: 1.25rem;
    }

    h1#title {
        font-size: 28px;
        font-size: 1.75rem;
        font-weight: 400;
        margin: 0;
    }

    p#date {
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: 200;
        margin: 0 0 20px 0;
    }
}

.about {
    img {
        width: 30%;
        height: auto;
    }
}

@media (min-width: 770px) {
    body {
        width: 800px;
        line-height: 1.5;
    }
}

@media (max-width: 770px) {
    .header {
        p {
            margin: 0;
        }

        flex-direction: column;
        margin-bottom: 32px;
    }

    .about {
        img {
            width: 50%;
            height: auto;
        }
    }


}