@import "theme";

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;

    line-height: 1.3em;

    padding: 5em 25%;
}

.header-links {
    a {
        margin-right: 0.5em;
    }

    a:last-of-type {
        margin-right: 0;
    }
}

.space {
    margin-bottom: 2em;
}

.doublespace {
    margin-bottom: 4em;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
}

img {
    max-width: 100%;
}

blockquote {
    margin-left: 0;
    padding-left: 1em;
}

code {
    padding: 0.1em 0.2em;
    font-size: 12pt;
}

pre {
    overflow: auto;
    padding: 0.3em;

    code {
        padding: 0;
    }
}


// ALBUM SEARCH PAGE
.album-card {
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 16px;
    width: 100%;
    transition: 0.3s;
}

.album-card:hover{
    cursor: pointer;
    text-decoration: underline;
}

.album-card .album-cover {
    width: 80px;
    height: 80px;
    margin-right: 16px;
}

.album-card h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.search-form {
    padding-bottom: 20px;
}


// SIDEBAR (LEFT)
.tracklist-container {
    border-radius: 12px;
    padding: 16px;
    width: calc(((50vw) / 2) - 6.725em);

    z-index: 10;
    position: fixed;
    top: 12em;
    transform: translateX(calc(-100% - 2em));
    font-size: 70%;
    list-style: none;
    display: inline-block;
    transition: 0.3s;
}

.tracklist-container ul{
    list-style: decimal;
    padding-left: 0;
    list-style-position: inside;
    margin-bottom: 0px;
}

.tracklist-container li{
    cursor: pointer;
    width: fit-content;
}

.tracklist-container li:hover{
    text-decoration: underline;
}

.tracklist-container .album-info{
    margin-top: 5px;
}

.tracklist-container h1, h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.tracklist-container h3 {
    margin-top: 0;
  }

.tracklist-container .album-cover {
    transition: 0.2s;
}

.tracklist-container .album-cover:hover {
    filter: brightness(50%);
    transition: 0.2s;
}

.tracklist-container.collapsed ul {
    display: none;
}

li.selected {
    text-decoration: underline;
}

.album-info {
    text-align: center;
    margin-top: 20px;   
}

.album-info .album-cover img{
    width: 10vw;
    height: auto;
    margin-right: 0px;
}

.album-names h1, h3{
    width: fit-content;
}

.album-names {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}


// LYRICS CONTAINER
.lyrics-container {
    border-radius: 12px;
    padding: 16px;
    // margin-left: 5%;
    // margin-right: 5%;
    transition: 0.3s;
}

.lyrics-container h1{
    margin-top: 0px;
}





@media all and (max-width: 1200px) {
    body {
        padding: 3em 15%;
    }
}

@media all and (max-width: 800px) {
    body {
        padding: 1em 1em;
    }
}