<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{{ section.description | default(value=config.description) }}{% endblock description %}">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    {% block extra_head %}
    <link rel="stylesheet" href="{{ get_url(path='style.css', cachebust=true) }}">
    {% endblock extra_head %}
    <link rel="icon" href="{{ config.extra.hook_icon | safe }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    {% block rss %}
      <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    {% endblock %}
    <script type="text/javascript" src="../javascript/accompany.js"></script>
</head>

<body>
    {% block header %}
    <header class="space">
        <h1>{{ config.title }}</h1>
        {% set linked_pages = section.pages | filter(attribute="extra.in_header") %}
        {% if config.extra.links or linked_pages %}
        <nav class="header-links">
            {% for link in config.extra.links %}
            <a href="{{ link.href }}" target="_blank">{{ link.title }}</a>
            {% endfor %}
            {% for page in linked_pages %}
            <a href="{{ page.permalink }}">{{ page.title }}</a>
            {% endfor %}
        </nav>
        {% endif %}
    </header>
    {% endblock header %}

    {% block content %}
    {% set blog = get_section(path="blog/_index.md") %}
    <main>
        <!-- Listening Activity -->
        <h2>What I'm listening to</h2>
        <div id="now-playing">Loading...</div>
        <script type="text/javascript" src="../javascript/music.js"></script>

        <!-- Projects Section -->
        <!-- <h2>Projects</h2>
        <p><a href="/accompany">Accompany</a> (in progress 🚧)</p> -->

        <!-- Posts Section -->
        {% if blog.pages %}
            <h2>Posts</h2>
            {% for post in blog.pages %}
                <p class="date">{{ post.date }} -
                    <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
                </p>
            {% endfor %}
        {% endif %}
    </main>
    {% endblock content %}

    <!-- Dark Mode Button -->
    <div class="dark-mode-buttons">
        <button class="dark-mode-button" id="dark-mode-on"><img src="{{ get_url(path='dark_mode.svg') }}" width="24" height="24" alt="Dark mode" aria-label="dark mode toggle" title="Dark mode"></button>
        <button class="dark-mode-button" id="dark-mode-off"><img src="{{ get_url(path='light_mode.svg') }}" width="24" height="24" alt="Light mode" aria-label="light mode toggle" title="Light mode"></button>
    </div>
    <script src="/javascript/darkmode.js"></script>

    <!-- Hide button if JavaScript is disabled -->
    <noscript>
        <style>
            .dark-mode-buttons {
                display: none;
            }
        </style>
    </noscript>
</body>
</html>
