{% extends "base.html" %}

{% block content %}
<div class="posts">
    <ul>
    {% set section = get_section(path="writing/_index.md") %}
    {% for page in section.pages %}
        <li>
            <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            <p>
                {{ page.date | date(format="%B %e, %Y") }}{% if page.updated %}, updated {{ page.updated | date(format="%B %e, %Y") }}{% else %}{% endif %}
            </p>
        </li>
    {% endfor %}  
    </ul>
</div>
{% endblock content %}