{% extends "index.html" %}

{% block title %}{{ config.title }} | {{ page.title }}{% endblock title %}
{% block description %}{{ page.description | default(value=config.description) }}{% endblock description %}

{% block header %}
<header class="space">
    <a href="{{ config.base_url }}">&LeftArrow; Home</a>
</header>
{% endblock header %}

{% block content %}
<main>
    <h1>{{ page.title }}</h1>
    {% set music = get_section(path="music/_index.md") %}
    {% if music.pages %}
        <h2>Music</h2>
            {% for post in music.pages %}
                <p class="date">{{ post.date }} -
                    <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
                </p>
            {% endfor %}
    {% endif %}
</main>
{% endblock content %}
