{% extends "index.html" %}

{% block title %}{{ page.title }}{% endblock title %}
{% block description %}{{ page.description | default(value=config.description) }}{% endblock description %}

{% block content %}
<main class="thoughts">
    <div class="posts">
        <div class="update">
            <div class="update-s">
                <a href="/" class="back">← Back</a>
                <p>Hey there! 👋🏻</p>
                <p>Here you can find my various thoughts about everything and anything.</p>
                <p>This was heavily inspired by <a href="https://stream.thesephist.com/" target="_blank">the stream</a> by Linus, albeit simpler and without the fancy private interface.</p>
                <p>I use a <a href="https://stream.thesephist.com/" target="_blank">Raycast</a> bash script to publish posts, I'll probably write about this once it's all polished up!</p>
                <p>Think of this as my personal Twitter feed, just without all the noise.</p>
                <p>You can "follow" this via <a href="/atom.xml" target="_blank">RSS</a> if you'd like to.</p>
                <p>I saw this website layout by <a href="https://endless.design" target="_blank">Endless</a> and thought I'd have a go replicating it.</p>
                <p>Kudos to them!</p>
            </div>
            <div class="update-t">
                <img src="photos/profile.png">
                <p>Just now</p>
        </div>


        {% set blog = get_section(path="posts/_index.md") %}
        {% if blog.pages %}
            {% for post in blog.pages %}
                <div class="update">
                    <div class="update-s">
                        {{ post.content | safe }}
                    </div>
                    <div class="update-t">
                        <img src="photos/profile.png">
                        <p>{{ post.date | date(format="%d %b %Y, %H:%M") }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</main>
<section>
    <div class="links">
        <p>🫰🏻</p>
    </div>
</section>
{% endblock content %}